version: "3.8"

services:

  ### Anwendung ###
  BookStore:
    image: ghcr.io/jexxa-projects/jexxatutorials/bookstorecn:latest
    ports:
      - "7503:7503"

    healthcheck:
      test: ["CMD-SHELL", "wget -nv -t1 --spider 'http://localhost:7503/BoundedContext/isRunning/'"]
      interval: 10s
      timeout: 10s
      retries: 3

    deploy:
      replicas: 2
      update_config:
        order: start-first        # Configure rolling updates
        failure_action: rollback

      rollback_config:
        parallelism: 1            # Rollback config
        order: start-first

      restart_policy:
        condition: on-failure

