version: "3.8"

services:

  ### Anwendung ###
  ContractManagement:
    image: ghcr.io/jexxa-projects/contractmanagement:latest
    ports:
      - "7504:7504"

    healthcheck:
      test: [ "CMD-SHELL", "wget -nv -t1 --spider 'http://localhost:7504/BoundedContext/isRunning/'" ]
      interval: 10s
      timeout: 10s
      retries: 3

    deploy:
      replicas: 2
      update_config:
        order: start-first        # Configure rolling updates
        failure_action: rollback

      rollback_config:
        parallelism: 1            # Rollback config
        order: start-first

      restart_policy:
        condition: on-failure

  ### Infrastruktur ###

  Postgres:
    image: postgres:latest
    user: postgres

    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
